.zoomOverlay {
  position: fixed;
  top: 0;
  right: 32%;
  background: #1f1f1f;
  color: #c7c7c7;
  padding: 0 17px;
  border-radius: 16px;
  z-index: 10000;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 220px;
  height: 50px;
  font-family: helvetica;
  justify-content: space-between;
  font-size: 13px;
  transform-origin: top right;
  box-shadow: 0 4px 8px #0000004d;
}

.rightWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 128px;
}

.button {
  cursor: pointer;
  user-select: none;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blueButton {
  border: #047cb6 2px solid;
  border-radius: 32px;
  display: flex;
  height: 35px;
  width: 60px;
  background: none;
  color: #a8c7fa;
  font-size: 13px;
  align-items: center;
  justify-content: center;
}

.grey {
  color: #5f5f5f;
}

@media (prefers-color-scheme: light) {
    .zoomOverlay {
      background: white;
      color: black;
    }
    
    .blueButton {
      border: #a9c8fa 2px solid;
      color: #0b57d0;
      background: none;
    }
    
    .grey {
      color: #b9b9b9;
    }
}